@page
@model UnivMedicalRecord.Pages.Homepage.EditRecord

@{
    
        ViewData["Title"] = "Edit Record";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Create General Records
    </title>
 
    <style>
 
        /* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
            background-color: #fff;
            font-family: Verdana;
            text-align: center;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 600px;
            margin: 50px auto;
            padding: 30px 30px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
            display: inline-block;
        }
        
        .form-check {
            text-align: left;
            display: inline-block;
            margin-right: 25px;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 		
      
        /* Styling form-control input and
        select*/
        .form-control input[type=text],
      	.form-control select,
      	.form-control textarea{
        width: 100%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
      
        /* Styling form-control dropdown*/
        .form-control input[type=dropdown],
      	.form-control select,
      	.form-control textarea{
        width: 35%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
        .form-control input[id=age],
      	.form-control textarea{
        width: 55%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
        .form-control input[id=email],
      	.form-control textarea{
        width: 100%;
        padding: 5px 10px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #000;
              
        }
 
        /* Styling Button */
        button {
            background-color: #fff;
            border: 2px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>
  
<body>
    <h2>Personal Information of @Model.Personal.Name</h2>
    
    <!-- Create Form -->
    <form class="form-inline" id="form" method="post">
            
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Personal.Id" />
    <input type="hidden" asp-for="FamilyInfo.Id" />
    <input type="hidden" asp-for="Medical.Id" />
    
    <!-- Details -->
    
        <div class="form-control">
            <label asp-for="Personal.Name" class="control-label"></label>
            <input asp-for="Personal.Name" class="form-control"/>
            <span asp-validation-for="Personal.Name" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="Personal.Age" class="control-label"></label>
            <input asp-for="Personal.Age" class="form-control"/>
            <span asp-validation-for="Personal.Age" class="text-danger"></span>
        </div>
        
         <div class="form-control">
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="Male" asp-for="Personal.Sex" id="Gender1" autocomplete="off" checked>
                    <label class="form-check-label" for="Gender1">Male</label>
                </div>
                 <div class="form-check">
                     <input type="radio" class="form-check-input" value="Female" asp-for="Personal.Sex" id="Gender2" autocomplete="off">
                     <label class="form-check-label" for="Gender2">Female</label>
                 </div>
         </div>
        
        <div class="form-control">
            <label asp-for="Personal.Email" class="control-label"></label>
            <input asp-for="Personal.Email" class="form-control"/>
            <span asp-validation-for="Personal.Email" class="text-danger"></span>
        </div>
      
        <div class="form-control">
                
            <label asp-for="Personal.MobileNumber" class="control-label"></label>
            <input asp-for="Personal.MobileNumber" class="form-control"/>
            <span asp-validation-for="Personal.MobileNumber" class="text-danger"></span>
        </div>
        
          
     <div class="form-control">
            
            <label asp-for="Personal.IdNumber" class="control-label"></label>
            <input asp-for="Personal.IdNumber" class="form-control"/>
            <span asp-validation-for="Personal.IdNumber" class="text-danger"></span>
        </div>

        <div class="form-control">
               
            <label asp-for="Personal.DateOfBirth" class="control-label"></label>
            <input asp-for="Personal.DateOfBirth" type="date" class="form-control"/>
            <span asp-validation-for="Personal.DateOfBirth" class="text-danger"></span>
        </div>
    
      
        <div class="form-control">
            <label asp-for="Personal.PlaceOfBirth" class="control-label"></label>
            <input asp-for="Personal.PlaceOfBirth" class="form-control"/>
            <span asp-validation-for="Personal.PlaceOfBirth" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="Personal.Address" class="control-label"></label>
            <input asp-for="Personal.Address" class="form-control"/>
            <span asp-validation-for="Personal.Address" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="Personal.PersonalDoctor" class="control-label"></label>
            <input asp-for= "Personal.PersonalDoctor" class="form-control"/>
            <span asp-validation-for="Personal.PersonalDoctor" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="Personal.Insurance" class="control-label"></label>
            <input asp-for="Personal.Insurance" class="form-control"/>
            <span asp-validation-for="Personal.Insurance" class="text-danger"></span>
        </div>
      
      <h2>Family Information</h2>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.MotherName" class="control-label"></label>
            <input asp-for="FamilyInfo.MotherName" class="form-control"/>
            <span asp-validation-for="FamilyInfo.MotherName" class="text-danger"></span>
        </div>
      
    <div class="form-control">
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Married" asp-for="FamilyInfo.MotherStatus" id="Mother1" autocomplete="off" checked>
            <label class="form-check-label" for="Mother1">Married</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Single" asp-for="FamilyInfo.MotherStatus" id="Mother2" autocomplete="off">
            <label class="form-check-label" for="Mother2">Single</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Separated" asp-for="FamilyInfo.MotherStatus" id="Mother3" autocomplete="off">
            <label class="form-check-label" for="Mother3">Separated</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Widowed" asp-for="FamilyInfo.MotherStatus" id="Mother3" autocomplete="off">
            <label class="form-check-label" for="Mother4">Widowed</label>
        </div>
    </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.MotherAddress" class="control-label"></label>
            <input asp-for="FamilyInfo.MotherAddress" class="form-control"/>
            <span asp-validation-for="FamilyInfo.MotherAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="FamilyInfo.MotherOccupation" class="control-label"></label>
            <input asp-for="FamilyInfo.MotherOccupation" class="form-control"/>
            <span asp-validation-for="FamilyInfo.MotherOccupation" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.MotherNumber" class="control-label"></label>
            <input asp-for="FamilyInfo.MotherNumber" class="form-control"/>
            <span asp-validation-for="FamilyInfo.MotherNumber" class="text-danger"></span>
        </div>
    &nbsp;
    
        <div class="form-control">
           <label asp-for="FamilyInfo.FatherName" class="control-label"></label>
            <input asp-for="FamilyInfo.FatherName" class="form-control"/>
            <span asp-validation-for="FamilyInfo.FatherName" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Married" asp-for="FamilyInfo.FatherStatus" id="Father1" autocomplete="off" checked>
                <label class="form-check-label" for="Father1">Married</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Single" asp-for="FamilyInfo.FatherStatus" id="Father2" autocomplete="off">
                <label class="form-check-label" for="Father2">Single</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Separated" asp-for="FamilyInfo.FatherStatus" id="Father3" autocomplete="off">
                <label class="form-check-label" for="Father3">Separated</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Widowed" asp-for="FamilyInfo.FatherStatus" id="Father4" autocomplete="off">
                <label class="form-check-label" for="Father4">Widowed</label>
            </div>
        </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.FatherAddress" class="control-label"></label>
            <input asp-for="FamilyInfo.FatherAddress" class="form-control"/>
            <span asp-validation-for="FamilyInfo.FatherAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.FatherOccupation" class="control-label"></label>
            <input asp-for="FamilyInfo.FatherOccupation" class="form-control"/>
            <span asp-validation-for=FamilyInfo.FatherOccupation class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.FatherNumber" class="control-label"></label>
            <input asp-for="FamilyInfo.FatherNumber" class="form-control"/>
            <span asp-validation-for="FamilyInfo.FatherNumber" class="text-danger"></span>
        </div>
        
      
       &nbsp;
      
        <div class="form-control">
            <label asp-for="FamilyInfo.GuardianName" class="control-label"></label>
            <input asp-for="FamilyInfo.GuardianName" class="form-control"/>
            <span asp-validation-for="FamilyInfo.GuardianName" class="text-danger"></span>
        </div>

        <div class="form-control">
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Married" asp-for="FamilyInfo.GuardianStatus" id="Guardian1" autocomplete="off" checked>
                <label class="form-check-label" for="Guardian1">Married</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Single" asp-for="FamilyInfo.GuardianStatus" id="Guardian2" autocomplete="off">
                <label class="form-check-label" for="Guardian2">Single</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Separated" asp-for="FamilyInfo.GuardianStatus" id="Guardian3" autocomplete="off">
                <label class="form-check-label" for="Guardian3">Separated</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Widowed" asp-for="FamilyInfo.GuardianStatus" id="Guardian4" autocomplete="off">
                <label class="form-check-label" for="Guardian4">Widowed</label>
            </div>
        </div>
    
      
        <div class="form-control">
            <label asp-for="FamilyInfo.GuardianAddress" class="control-label"></label>
            <input asp-for="FamilyInfo.GuardianAddress" class="form-control"/>
            <span asp-validation-for="FamilyInfo.GuardianAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FamilyInfo.GuardianOccupation" class="control-label"></label>
            <input asp-for="FamilyInfo.GuardianOccupation" class="form-control"/>
            <span asp-validation-for="FamilyInfo.GuardianOccupation" class="text-danger"></span>
        </div>

    <div class="form-control">
            <label asp-for="FamilyInfo.GuardianRelation" class="control-label"></label>
            <input asp-for="FamilyInfo.GuardianRelation" class="form-control"/>
            <span asp-validation-for="FamilyInfo.GuardianRelation" class="text-danger"></span>
        </div>
        
        <h2>Medical Information</h2>
    
        <div class="form-control">
            <label asp-for="Medical.Allergy" class="control-label"></label>
            <input asp-for="Medical.Allergy" class="form-control"/>
            <span asp-validation-for="Medical.Allergy" class="text-danger"></span>
        </div>
    
        <div class="form-control">
            <label asp-for="Medical.Illness" class="control-label"></label>
            <input asp-for="Medical.Illness" class="form-control"/>
            <span asp-validation-for="Medical.Illness" class="text-danger"></span>
        </div>

    <!-- Multi-line Text Input Control -->
    <button type="submit" class="btn-outline-dark" asp-page-handler="Submit">Submit</button>
    <button type="submit" class="btn-outline-dark" asp-page-handler="Return">Return</button>
    </form>
</body>

</html>