@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using UniversityMedicalRecord.Data
@using UniversityMedicalRecord.Models
@model UnivMedicalRecord.Pages.Homepage.GeneralRecords



    @{
    ViewData["Title"] = "General Records";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        Create General Records
    </title>
 
    <style>
 
        /* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
            background-color: #fff;
            font-family: Verdana;
            text-align: center;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 600px;
            margin: 50px auto;
            padding: 30px 30px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
            display: inline-block;
        }
        
        .form-check {
            text-align: left;
            display: inline-block;
            margin-right: 25px;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 		
      
        /* Styling form-control input and
        select*/
        .form-control input[type=text],
      	.form-control select,
      	.form-control textarea{
        width: 100%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
      
        /* Styling form-control dropdown*/
        .form-control input[type=dropdown],
      	.form-control select,
      	.form-control textarea{
        width: 35%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
        .form-control input[id=age],
      	.form-control textarea{
        width: 55%;
        padding: 5px 8px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
        .form-control input[id=email],
      	.form-control textarea{
        width: 100%;
        padding: 5px 10px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid black;
        }
      
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: #000;
              
        }
 
        /* Styling Button */
        button {
            background-color: #fff;
            border: 2px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>
  
<body>
    <h2>Personal Information of @Model.Name</h2>
    
    <!-- Create Form -->
    <form class="form-inline" id="form" method="post">
            
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Details -->
    
        <div class="form-control">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control"/>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control"/>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        
         <div class="form-control">
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="Male" asp-for="Gender" id="Gender1" autocomplete="off" checked>
                    <label class="form-check-label" for="Gender1">Male</label>
                </div>
                 <div class="form-check">
                     <input type="radio" class="form-check-input" value="Female" asp-for="Gender" id="Gender2" autocomplete="off">
                     <label class="form-check-label" for="Gender2">Female</label>
                 </div>
         </div>
        
        <div class="form-control">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      
        <div class="form-control">
                
            <label asp-for="MobileNumber" class="control-label"></label>
            <input asp-for="MobileNumber" class="form-control"/>
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>
        
          
        <div class="form-control">
            
            <label asp-for="IdNumber" class="control-label"></label>
            <input asp-for="IdNumber" class="form-control"/>
            <span asp-validation-for="IdNumber" class="text-danger"></span>
        </div>

        <div class="form-control">
               
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" type="date" class="form-control"/>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    
      
        <div class="form-control">
            <label asp-for="BirthPlace" class="control-label"></label>
            <input asp-for="BirthPlace" class="form-control"/>
            <span asp-validation-for="BirthPlace" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="Doctor" class="control-label"></label>
            <input asp-for= "Doctor" class="form-control"/>
            <span asp-validation-for="Doctor" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="Insurance" class="control-label"></label>
            <input asp-for="Insurance" class="form-control"/>
            <span asp-validation-for="Insurance" class="text-danger"></span>
        </div>
      
      <h2>Family Information</h2>
      
        <div class="form-control">
            <label asp-for="MotherName" class="control-label"></label>
            <input asp-for="MotherName" class="form-control"/>
            <span asp-validation-for="MotherName" class="text-danger"></span>
        </div>
      
    <div class="form-control">
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Married" asp-for="MotherStatus" id="Mother1" autocomplete="off" checked>
            <label class="form-check-label" for="Mother1">Married</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Single" asp-for="MotherStatus" id="Mother2" autocomplete="off">
            <label class="form-check-label" for="Mother2">Single</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Separated" asp-for="MotherStatus" id="Mother3" autocomplete="off">
            <label class="form-check-label" for="Mother3">Separated</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="Widowed" asp-for="MotherStatus" id="Mother3" autocomplete="off">
            <label class="form-check-label" for="Mother4">Widowed</label>
        </div>
    </div>
      
        <div class="form-control">
            <label asp-for="MotherAddress" class="control-label"></label>
            <input asp-for="MotherAddress" class="form-control"/>
            <span asp-validation-for="MotherAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
             <label asp-for="MotherOccupation" class="control-label"></label>
            <input asp-for="MotherOccupation" class="form-control"/>
            <span asp-validation-for="MotherOccupation" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="MotherNumber" class="control-label"></label>
            <input asp-for="MotherNumber" class="form-control"/>
            <span asp-validation-for="MotherNumber" class="text-danger"></span>
        </div>
    &nbsp;
    
        <div class="form-control">
           <label asp-for="FatherName" class="control-label"></label>
            <input asp-for="FatherName" class="form-control"/>
            <span asp-validation-for="FatherName" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Married" asp-for="FatherStatus" id="Father1" autocomplete="off" checked>
                <label class="form-check-label" for="Father1">Married</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Single" asp-for="FatherStatus" id="Father2" autocomplete="off">
                <label class="form-check-label" for="Father2">Single</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Separated" asp-for="FatherStatus" id="Father3" autocomplete="off">
                <label class="form-check-label" for="Father3">Separated</label>
            </div>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Widowed" asp-for="FatherStatus" id="Father4" autocomplete="off">
                <label class="form-check-label" for="Father4">Widowed</label>
            </div>
        </div>
      
        <div class="form-control">
            <label asp-for="FatherAddress" class="control-label"></label>
            <input asp-for="FatherAddress" class="form-control"/>
            <span asp-validation-for="FatherAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FatherOccupation" class="control-label"></label>
            <input asp-for="FatherOccupation" class="form-control"/>
            <span asp-validation-for=FatherOccupation class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="FatherNumber" class="control-label"></label>
            <input asp-for="FatherNumber" class="form-control"/>
            <span asp-validation-for="FatherNumber" class="text-danger"></span>
        </div>
        
      
       &nbsp;
      
        <div class="form-control">
            <label asp-for="GuardianName" class="control-label"></label>
            <input asp-for="GuardianName" class="form-control"/>
            <span asp-validation-for="GuardianName" class="text-danger"></span>
        </div>

        <div class="form-control">
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Married" asp-for="GuardianStatus" id="Guardian1" autocomplete="off" checked>
                <label class="form-check-label" for="Guardian1">Married</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Single" asp-for="GuardianStatus" id="Guardian2" autocomplete="off">
                <label class="form-check-label" for="Guardian2">Single</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Separated" asp-for="GuardianStatus" id="Guardian3" autocomplete="off">
                <label class="form-check-label" for="Guardian3">Separated</label>
            </div>
                            
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Widowed" asp-for="GuardianStatus" id="Guardian4" autocomplete="off">
                <label class="form-check-label" for="Guardian4">Widowed</label>
            </div>
        </div>
    
      
        <div class="form-control">
            <label asp-for="GuardianAddress" class="control-label"></label>
            <input asp-for="GuardianAddress" class="form-control"/>
            <span asp-validation-for="GuardianAddress" class="text-danger"></span>
        </div>
      
        <div class="form-control">
            <label asp-for="GuardianOccupation" class="control-label"></label>
            <input asp-for="GuardianOccupation" class="form-control"/>
            <span asp-validation-for="GuardianOccupation" class="text-danger"></span>
        </div>
      
        <div class="form-control">
           <label asp-for="GuardianNumber" class="control-label"></label>
            <input asp-for="GuardianNumber" class="form-control"/>
            <span asp-validation-for="GuardianNumber" class="text-danger"></span>
        </div>
 
        <div class="form-control">
            <label asp-for="GuardianRelation" class="control-label"></label>
            <input asp-for="GuardianRelation" class="form-control"/>
            <span asp-validation-for="GuardianRelation" class="text-danger"></span>
        </div>
        
        <h2>Medical Information</h2>
    
        <div class="form-control">
            <label asp-for="Allergy" class="control-label"></label>
            <input asp-for="Allergy" class="form-control"/>
            <span asp-validation-for="Allergy" class="text-danger"></span>
        </div>
    
        <div class="form-control">
            <label asp-for="Illness" class="control-label"></label>
            <input asp-for="Illness" class="form-control"/>
            <span asp-validation-for="Illness" class="text-danger"></span>
        </div>
    
      
  
    <!-- Multi-line Text Input Control -->
    <button type="submit" value="submit">
        Submit
    </button>
    </form>
</body>
</html>