@page
@using UniversityMedicalRecord.Data
@model UnivMedicalRecord.Pages.Homepage.EditCholesterol

@{
  ViewData["Title"] = "Cholesterol";
}
<style>
    .card-container {
      display: flex;
      flex-direction: column;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
    .form-control input[type=text],
        .form-control input[type=number]{
        width: 75%;
        padding: 12px 20px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
    
    
        .form-control input[id=txtStoolRemarks],
        .form-control input[id=txtFurtherRemarks]{
        width: 75%;
        padding: 5px 20px;
        margin: 5px ;
        box-sizing: border-box;
        border: none;
        border-bottom:2px solid black;
        }    
        
        /*
        #labtbl{
      	border: 2px solid black;
        margin-left: auto; 
        margin-right: auto;
    	}*/
                       
  </style>
<head>
	<link rel="stylesheet" href="./css/site.css">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

  <div class="site-wrapper m-md-5">
  <form method="post">
      <div class="card" style="flex-direction: row; background-color: black; align-items: center">
          <button class="btn btn-dark m-lg-3" asp-page-handler="Dashboard">Dashboard</button>
          <button class="btn btn-dark m-lg-3" asp-page-handler="Records">Records</button>
      </div>
  </form>
  	<section class="tabs-wrapper m-lg-20">
  		<div class="tabs-container">
  			<div class="tabs-block">
                <div class="tabs">

                    <input type="radio" name="tabs" id="tab3" checked="checked"/>
                    <label for="tab3"><span class="material-icons"></span>Cholesterol</label>
                    <div class="tab">
                        <div class="card-container">
                            <div class="form-control">
                            <div class="modal fade Cholesterol" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                 <div class="modal-dialog modal-sm">
                                                                     <div class="modal-content">
                                                                         <img class="m-lg-4" src="@Model.CholesPath" alt="Cholesterol" style="max-width: 10.25in; max-height: 5.25in;">
                                                                     </div>
                                                                 </div>
                                                             </div>
                                <form class="form-inline" method="post">
                                    Input the Date of the Lab Test (TRAD): <input asp-for="Cholesterol.DateRetrieved" type="date" id="LabTradDate">
                                    <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".Cholesterol">Show Laboratory Test</button>
                                    <button class="btn btn-dark mb-4" style="float: right" asp-page-handler="Update" type="submit">Submit</button>
                                    <input type="hidden" asp-for="Cholesterol.Id"/>
                                    <table class="table" style="text-align: center">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ANALYTE</th>
                                            <th scope="col" colspan="2">RESULT</th>
                                            <th scope="col" colspan="2">NORMAL RANGE</th>
                                        </tr>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Traditional</th>
                                            <th scope="col">Traditional</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        
                                        <tr>
                                            <td>Cholesterol*</td>
                                            <td><input asp-for="Cholesterol.TradCholesterol" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> < 200 mg/dl</td>
                                        </tr> 
                                        
                                        <tr>
                                            <td>LDL*</td>
                                            <td><input asp-for="Cholesterol.TradLdl" type="number" step=".1" min="0" class="form-control"></td>
                                            <td>110 - 130 mg/dl</td>
                                        </tr>                                         
                                         
                                        <tr>
                                            <td>dHDL*</td>
                                            <td><input asp-for="Cholesterol.TradDhdl" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> > 40 mg/dl</td>
                                        </tr>                                          
                                        
                                        <tr>
                                            <td>Triglyceride*</td>
                                            <td><input asp-for="Cholesterol.TradTriglyceride" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> < 150 mg/dl</td>
                                        </tr>                  
                                        
                                        <tr>
                                            <td>FBS</td>
                                            <td><input asp-for="Cholesterol.TradFbs" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> 74 - 106 mg/dl</td>
                                        </tr>

                                        <tr>
                                            <td>BUN</td>
                                            <td><input asp-for="Cholesterol.TradBun" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> M: 9 - 20 mg/dl</td>
                                            <td> F: 3.2 - 7.1 mg/dl</td>
                                        </tr>

                                        <tr>
                                            <td>Creatinine</td>
                                            <td><input asp-for="Cholesterol.TradCreatinine" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> M: 0.8 - 1.5 mg/dl
                                                </td>
                                            <td> F: 0.7 - 1.2 mg/dl</td>
                                        </tr>

                                        <tr>
                                            <td>BUA</td>
                                            <td><input asp-for="Cholesterol.TradBua" type="number" step=".1" min="0" class="form-control"></td>
                                            <td> M: 3.5 - 8.5 mg/dl</td>
                                            <td> F: 2.5 - 6.2 mg/dl</td>
                                        </tr>

                                        <tr>
                                            <td>Remarks</td>
                                            <td colspan="4"><input asp-for="Cholesterol.Remarks" type="text" class="form-control"></td>
                                        </tr>

                                        <tr>
                                            <td>Other Remarks</td>
                                            <td colspan="4"><input asp-for="Cholesterol.OtherRemarks" type="text" class="form-control"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  		</div>
  	</section>
  </div>

